
//首页文章模块样式
body{
    background: #fff;
}
.post-index-body{
}
.post-index-p{
    padding:15px 50px;
	background:rgba(255,255,255,0.6);
	color:#555;
}
//文档分段
.post-body>h1,.post-body>h2,.post-body>h3,.post-body>h4,.post-body>h5{
	border-bottom: 2px solid #c0c0c0;
}
//无序号列表样式
.posts-expand .post-body ul li > ul li{
    list-style: circle;
}
.posts-expand .post-body ul li > ul li > ul li{
    list-style: circle;
}
//页头背景
.header { 
    background-image: url(../../images/bgImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center center;
}
//页头字体颜色
.site-title{
	
}