//页头背景
.header { 
    background-image: url(../../images/bgImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center center;
}
.header-inner { 
	position: relative;
	width: 100%;
}


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
